<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>

<div>
  <% for place in @places %>
    <div class="mb-1"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></div>
  <% end %>
</div>

